.ipynb_checkpoints/
.virtual_documents/
__pycache__/
.DS_Store
*.pyc

# Virtual environments
venv/
.venv/
env/

# Jupyter temporary files
.ipynb_checkpoints/
.virtual_documents/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

*.ipynb.layout